body {
    font-family: sans-serif;
    margin: 0;
    background: #fff;
    text-align: center;
}

header {
    background: #f7d76b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    min-height: 25px;
}

.message {
    background-color: #b4b4b4;
    display: inline-block;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    padding-left: 10px;
}

.input {
    width:300px;
}

.Kanpo_picture {
    height : 200px;
    width: 200px;
}

button.button {
    background-color: #2F4F4F;
    border: none;
    color: white;
    padding: 5px;
    width: 300px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    text-align: center;
}