body {
    font-family: sans-serif;
    margin: 0;
    background: #fff;
    text-align: center;
}

header {
    background: #f7d76b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    height: 25px;
}

.border_box {
    border: 1px solid #000000;
    background-color: #dad6d1;
    padding: 12px;
    margin: 8px auto;
}

.store {
    font-size: 10px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.store_name {
    font-size: 14px;
    font-weight: bold;
}