body {
    font-family: sans-serif;
    margin: 0;
    background: #fff;
    text-align: center;
}

/* ヘッダー */
.header-bar {
    background-color: #FFEC6E;
    padding: 18px 20px;
    display: flex;
    align-items: center;
    position: relative; /* これ大事 */
}

.logo-link img {
    height: 60px;
}

/* タイトルを中央固定 */
.page-title {
    position: absolute; /* 絶対配置 */
    left: 50%;          /* 横幅中央 */
    transform: translateX(-50%); /* 真ん中にピッタリ */
    font-size: 35px;
    font-weight: bold;
    color: #000000;
    margin: 0;
}


.profile {
    position: relative;       
    margin: 40px 0;           
}

.nickname-label {
    position: absolute;       
    left: 50%;                
    transform: translateX(-50%); 
    font-size: 28px;         
    font-weight: bold;
    color: #333;
}


.review {
    text-align: right;     
    font-size: 16px;
}


.profile_edit {
    background: #fff;
    width: 60%;
    border-radius: 4px;
}

.border_box {
    border: 1px solid #000000;
    background-color: #dad6d1;
    padding: 12px;
    margin: 8px auto;
}

.store {
    font-size: 10px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.store_name {
    font-size: 14px;
    font-weight: bold;
}

.store_image {
    display: flex;
    width: 100px;
    height: 100px;
    gap: 6px;
}

.store_review_comment {
    margin-top: 6px;
}

.ellipsis-menu {
  position: relative;
  display: inline-block;
  position: absolute;
  right: 10%;
}

.ellipsis-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  display: none; /* 初期は非表示 */
  position: absolute;
  top: 100%; /* ボタンの下に表示 */
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  min-width: 80px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 100; /* 上に表示 */
}

.menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #f0f0f0;
}
